{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

    
        <div  class="container">
                <h2 class="text-center" id="posts">Welcome to  Blog Home</h2>
                <!-- <h4 class="text-center" id="post">We give our users an opportunity to pitch their ideas in one minute. This is an opportunity to showcase your creativity to interested investors in shortest time possible.</h4> -->
            <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
                <li class="nav-item" >
                    <a id ="cats" class="nav-link" data-toggle="tab" href="#all"><strong>All Blogs</strong> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id ="cats" data-toggle="tab" href="#jobs">Job Blogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id ="cats" data-toggle="tab" href="#technology">Technology Blogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id ="cats"data-toggle="tab" href="#ads">Advert Blogs</a>
                </li>
            </ul>

            <div class="col-md-12">
                <div class="container">
                    <div class="card cardquote">
                        <div class="card-title">
                            <h4>A quote by: <span style="color: rgb(3, 3, 3)">{{quote.author}}</span> </h4>
                        </div>
                        <p class="card-text">{{quote.quote}}</p>
                    </div>
                </div>
                <div class="container-fluid">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                    </div>
                    {% endfor %}
                    <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
                        <div class="md-form form-group">
                            <label class="white-color">Email Address...</label>
                            <input type="email"  class="form-control " name ="subscriber" required>
                        </div>
                        <div class="md-form form-group">
                            <button class="btn btn-sm btn-outline-info" id="subs">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-content">
                <div  class="container tab-pane active" id="all"><br>
                    {{ macro.display(blogs) }}
                </div>
                <div  class="container tab-pane fade" id="technology"><br>
                    {{ macro.display(technology)}}
                </div>
                <div  class="container tab-pane fade" id="jobs"><br>
                    {{ macro.display(job) }}
                </div>
                <div  class="container tab-pane fade" id="ads"><br>
                    {{ macro.display(advertisement) }}
                    
                </div>
            </div>
        </div>
{% endblock%}
